<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Admin Remove</title>
	<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="hero-image">
		<div class="hero-text">
			<h1>Removal of All Tweets</h1>
		</div>
	</div>

	<br>
	<br>
	<div style="text-align:center;">
		<p>All tweets have been removed from the database. Number of tweets removed <%- numRemoved %></p>

		<br>
		<a href="/">HOME</a>
	</div>

</body>

</html>
